@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e7e5e4;
  --foreground: #1e1b4b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.menu-text {
  color: #1e1b4b !important;
}

.menu-icon {
  fill: #1e1b4b !important;
  color: #1e1b4b !important;
}

/* Ajuste específico para pantallas grandes */
@media (min-width: 1536px) {
  .extra-large-image-position {
    object-position: center 20%; /* Ajuste para pantallas grandes */
  }
}

/* Clase para reducir el line-height en móviles */
.mobile-line-height {
  line-height: 1.1;
}

.mobile-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .tablet-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 768px) {
  .tablet-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Ajuste de line-height y margen en el QuoteBanner solo en móviles */
@media (max-width: 640px) {
  .quote-banner-title {
    line-height: 1 !important;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .quote-button {
    margin-top: 1rem !important;
  }
}

/* Ajustes de margen laterales solo para móviles en el Call to Action */
@media (max-width: 640px) {
  .mobile-call-to-action-padding {
    padding-left: 4.2rem;
    padding-right: 2.5rem;
  }
}

/* Ajustes específicos para el Call to Action en pantallas más grandes de móvil */
@media (min-width: 640px) {
  .mobile-call-to-action-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 768px) {
  .mobile-call-to-action-padding {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* Disminuir padding para desktop (1024px y superior) */
@media (min-width: 1024px) {
  .mobile-call-to-action-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .mobile-call-to-action-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}