@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e7e5e4;
  --foreground: #1e1b4b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.menu-text {
  color: #1e1b4b !important;
}

.menu-icon {
  fill: #1e1b4b !important;
  color: #1e1b4b !important;
}

/* Solo afecta la imagen en el ancho más grande de desktop (1536px o más) */
@media (min-width: 1536px) {
  .extra-large-image-position {
    object-position: center 20%; /* Ajuste para enfocar el rostro en pantallas grandes */
  }
}