@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e7e5e4;
  --foreground: #1e1b4b;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.menu-text {
  color: #1e1b4b !important; /* Aplica el color al texto del menú */
}

.menu-icon {
  fill: #1e1b4b !important; /* Aplica el color de relleno al ícono */
  color: #1e1b4b !important; /* Asegura el color del ícono de cierre */
}